/ {
    chosen {
	zephyr,console = &cdc_acm_uart0;
};
};


&zephyr_udc0 {
	compatible = "nxp,mcux-usbd";
	status = "okay";
	cdc_acm_uart0: cdc_acm_uart0{
		compatible = "zephyr,cdc-acm-uart";
	};
};

