/ {
    chosen {
	zephyr,console = &cdc_acm_uart0;
};
};


&zephyr_udc0 {
	compatible = "nxp,mcux-usbd";
	status = "okay";
	cdc_acm_uart0: cdc_acm_uart0{
		compatible = "zephyr,cdc-acm-uart";
	};
};


&lpi2c1 {
   status = "ok";
	mpu6050@68 {
		compatible = "invensense,mpu6050";
		reg = <0x68>;
		status = "okay";
	};
};